<section class="ga-instagram-seciton" data-id="shopify-section-{{ section.id }}">
	<div class="ga-insta-bg">
		<img src="https://cdn.shopify.com/s/files/1/0707/6472/4465/files/Homepage_White_Gradient_Desktop_1.webp?v=1775472004" alt="">
	</div>
	<div class="ga-insta-content">
		<div class="fullscreen-container">
			<div class="ga-insta-top">
				<div class="ga-left">
					<h2 class="section-title is-alt">
						Get inspired with @MOKAEbeauty
					</h2>
				</div>
				<div class="ga-right">
					<p> <a href="https://www.instagram.com/mokaebeauty/" target="_blank"> Follow us on Instagram </a> </p>
				</div>
			</div>
			<div >
                <mageplaza_instafeed class="_mpLoading" data-feed-id="Hu738590744"></mageplaza_instafeed>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
	"name": "GA Instagram",
	"tag": "section",
	"class": "ga-instagram-section",
	"settings": [],
	"presets": [
		{
			"name": "GA Instagram"
		}
	]
}
{% endschema %}
