<div class="main-content">
  <div class="pro-circle">
    <div class="content">
      <div class="sec-title">
        <h1>
          WELCOME TO<br>
          MOKAE PRO
        </h1>
      </div>
      <p>
        Mokae Pro is our exclusive program crafted for professional makeup artists, those who shape the way beauty is
        seen and felt.
      </p>
      <p>
        This program is our way of honouring your craft—with access to clean, safe, and high-performing products that
        match your standard of artistry and intention.
      </p>
    </div>
    <div class="media">
      <!-- <img src="" alt=""> -->
    </div>
  </div>
  <div class="why-join">
    <div class="content">
      <div class="sec-title">
        <h2>THE PERKS</h2>
      </div>
      <div class="benefit">
        <strong>PRO DISCOUNTS</strong>
        <p>
          Exclusive 30% off for professional makeup artists. <br>
          (Not applicable on combos)
        </p>
      </div>
      <div class="benefit">
        <strong>EARLY ACCESS</strong>
        <p>Be the first to experience new launches before they go public.</p>
      </div>
      <div class="benefit">
        <strong>PRO-ONLY EXPERIENCES</strong>
        <p>Invitations to masterclasses, industry events, and artist-led sessions at Mokae Lab.</p>
      </div>
     
      <!--
        <div class="benefit disclaimer">
          <p>
            This program is designed to support your craft, not for resale. Our goal is to help you create, experiment,
            and perfect your artistry with formulations you can trust.
          </p>
        </div>
      -->
    </div>
  </div>
  <div class="eye-media">
    <img
      class="d-img"
      src="https://cdn.shopify.com/s/files/1/0707/6472/4465/files/Rectangle_2_16_1.jpg_1_-pichi.jpg?v=1747126635"
      alt="Mokae Pro program"
      width="3840"
      height="1216"
      loading="lazy"
      decoding="async"
    >
    <img
      class="m-img"
      src="https://cdn.shopify.com/s/files/1/0707/6472/4465/files/Rectangle_2_16_1.jpg-pichi.jpg?v=1747126514"
      alt="Mokae Pro program"
      width="750"
      height="568"
      loading="lazy"
      decoding="async"
    >
  </div>
  {% comment %}
    <div class="eligibility">
      <div class="content">
        <div class="sec-title">
          <h2>ELIGIBILITY</h2>
        </div>
        <p class="intro">
          Applicants must meet at least three of the following criteria and provide a valid photo ID and full legal name.
          Accepted documents include:
        </p>

        <ul class="criteria">
          <li><span>•</span>Active Makeup Artist Union Card</li>
          <li><span>•</span>Certificate of completion from a makeup academy/school</li>
          <li><span>•</span>Editorial tear sheets with name credit</li>
          <li><span>•</span>⁠IMDb link or screenshot of Film/TV credit</li>
          <li><span>•</span>Self-hosted professional website</li>
          <li>
            <span>•</span> ⁠Proof of agency representation (screenshot of name/portfolio on agency website or similar)
          </li>
          <li><span>•</span>⁠Press materials featuring your name and profession</li>
          <li><span>•</span>⁠Call sheet on production company letterhead</li>
          <!-- <li> <span>•</span>Government-issued photo ID </li> -->
          <li> <span>•</span> Members are required to renew their professional credentials annually to maintain active program status. </li>
        </ul>
        <p class="note">
          Whether you’re an editorial artist, bridal expert, film & TV makeup artist, or beauty educator, Mokae Pro is for
          artists who won’t settle—for those who choose performance and innovation over ordinary.
        </p>
      </div>
    </div>
  {% endcomment %}
  <div class="how-to-apply how-to-apply--invite">
    <h2>How To Apply</h2>
    <p class="how-to-apply__intro">
      Fill out this Mokae Pro form and our team will send you your Mokae Pro discount code within 7 business days
    </p>
  </div>
</div>
<style>
    ul.criteria span {
      display: unset;
      font-size: 20px;
      line-height: 100%;
      margin-right: 4px;
  }


    .eye-media img {
      transform: scale(1.01);
    }

    .eye-media {
      overflow: hidden;
    }
    *,
    body {
      margin: 0;
      padding: 0;
    }
    .m-br {
      display: none;
    }
    .main-content {
      background: #fff;
      color: #111;
    }
    /* pro circle banner */
    .pro-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 75vh;
      color: #111;
      text-align: center;
      position: relative;
      padding: 0 1rem;
    }

    .pro-circle .content {
      max-width: 38%;
      position: relative;
      z-index: 100;
    }

    .sec-title {
      h2 {
        font-size: 5rem;
        font-weight: 600;
      }
      h1 {
        font-size: 5.5rem;
        font-weight: 600;
      }
    }
    .pro-circle h1 {
      margin-bottom: 1.5rem;
    }
    .pro-circle .media {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(to top, #f8f4ef 0%, #ece8e4 45%, #e2ddd8 100%);
    }
    .pro-circle p {
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 1.3rem;
      font-weight: 600;
    }

    /* why join */
    .why-join {
      color: #111;
      background: #fff;
      text-align: center;
      padding: 8rem 1rem;
    }

    .why-join .content {
      max-width: 41%;
      margin: 0 auto;
    }

    .why-join h2 {
      margin-bottom: 1.5rem;
    }

    .benefit {
      margin-bottom: 0rem;
    }

    .benefit strong {
      font-size: 1.4rem;
      font-weight: 800;
      margin-bottom: 0.5rem;
    }

    .benefit p {
      font-size: 14px;
      line-height: 1.6;
      margin-top: 0;
      margin-bottom: 14px;
      font-weight: 600;
    }

    .disclaimer {
      margin-top: 3.5rem;
    }

    /* eye media */
    .eye-media {
      width: 100%;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      .m-img {
        display: none;
      }
      .d-img {
        display: block;
      }
    }

    /* eligibility */
    .eligibility {
      background-color: #fff;
      color: #111;
      text-align: center;
      padding: 5rem 1rem;
      text-align: center;
    }

    .eligibility .content {
      max-width: 40%;
      margin: 0 auto;
    }

    .eligibility h2 {
      margin-bottom: 2.5rem;
    }

    .eligibility .intro {
      font-size: 14px;
      line-height: 1.6;
      margin-top: 0;
      margin-bottom: 2.5rem;
      font-weight: 600;
    }

    .eligibility .criteria {
      max-width: 90%;
      list-style: none;
      padding: 0;
      margin: 0 auto 0rem auto;
      text-align: center;
      display: inline-block;
      font-size: 14px;
      line-height: 1.8;
    }

    .eligibility .criteria li {
      font-size: 14px;
      line-height: 1.6;
      margin-top: 0;
      margin-bottom: 1.3rem;
      font-weight: 600;
    }

    .eligibility .criteria li strong {
      font-weight: 900;
    }
    .eligibility .note {
      font-size: 14px;
      line-height: 1.6;
      margin-top: 2.5rem;
      margin-bottom: 0;
      font-weight: 600;
    }

    /* how to apply */
    .how-to-apply {
      text-align: center;
      padding: 4rem 1rem;
    }

    .how-to-apply h2 {
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 3rem;
      text-transform: capitalize;
    }

    .how-to-apply .steps {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      max-width: 900px;
      margin: 0 auto;
    }

    .how-to-apply .step {
      flex: 0 1 33.333%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      max-width: none;
      padding: 3rem 2.4rem;
      border-right: 1px solid rgba(0, 0, 0, 0.15);
      box-sizing: border-box;
    }

    .how-to-apply .step > div {
      width: 100%;
      max-width: 230px;
    }

    .how-to-apply .step:first-child {
      border-left: none;
    }

    .how-to-apply .step:last-child {
      border-right: none;
    }

    .how-to-apply h3 {
      font-size: 14px;
      font-weight: 800;
      margin-bottom: 2rem;
    }

    .how-to-apply p {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.6;
    }

    .how-to-apply--invite .how-to-apply__intro {
      max-width: 640px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.6;
    }

    .how-to-apply a {
      font-weight: 600;
      color: #111;
      text-decoration: underline;
    }

    @media (min-width: 20px) and (max-width: 600px) {

      .sec-title {
        h2 {
          font-size: 4.5rem;
          font-weight: 400;
        }
        h1 {
          font-size: 11vw;
          font-weight: 600;
        }
      }

      .m-br {
        display: block;
      }
      .pro-circle {
        text-align: left;
        height: 76vh;
        padding: 0 4rem;
      }
      .pro-circle p {
        font-size: 1.5rem;
      }
      .pro-circle .content {
        max-width: 100%;
        position: relative;
        z-index: 100;
      }

      .why-join {
        color: #111;
        background: #fff;
        text-align: left;
        padding: 8rem 4rem;
      }
      .why-join .content {
        max-width: 100%;
        margin: 0 auto;
      }

      .why-join h2 {
        margin-bottom: 3.5rem;
      }
      .benefit {
        margin-bottom: 3rem;
      }
      .benefit strong {
        font-size: 1.6rem;
        font-weight: 800;
        margin-bottom: 0.5rem;
      }
      .benefit p {
        font-size: 1.5rem;
        line-height: 1.6;
        margin-top: 0;
        margin-bottom: 1.3rem;
        font-weight: 600;
      }
      .disclaimer {
        margin-bottom: 0rem;
      }
      .eye-media {
        width: 100%;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      .eligibility {
        background-color: #fff;
        color: #111;
        text-align: left;
        padding: 5rem 4rem;
        text-align: left;
      }

      .eligibility .content {
        max-width: 100%;
        margin: 0 auto;
      }
      .eligibility .intro {
        font-size: 1.5rem;
      }
      .eligibility .criteria {
        max-width: 100%;
        list-style: none;
        padding-left: 0px;
        text-align: left;
      }

      .eligibility .criteria li {
        font-size: 1.5rem;
      }
      .eligibility .criteria li span {

      }
      .eligibility .note {
        font-size: 1.5rem;
      }
      .how-to-apply {
        text-align: left;
        padding: 8rem 4rem;
      }

      .how-to-apply .steps {
        display: block;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
      }

      .how-to-apply .step {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: left;
        max-width: 100%;
        padding: 4rem 3rem;
        padding-left: 0rem;
        border-right: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      }

      .how-to-apply .step div {
        width: 100%;
      }
      .how-to-apply .step br {
        display: none;
      }
      .how-to-apply h2 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 0rem;
        text-transform: capitalize;
      }
      .how-to-apply h3 {
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 1.5rem;
      }

      .how-to-apply p {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.6;
      }
      .how-to-apply--invite .how-to-apply__intro {
        font-size: 1.5rem;
        text-align: left;
      }
      .eye-media {
        .d-img {
          display: none;
        }
        .m-img {
          display: block;
        }
      }
    }


    @media(max-width:900px){
      .eligibility .criteria li {
          font-size: 1.5rem;
          position: relative;
          padding-left: 15px;
      }

      .eligibility .criteria li span {
      position: absolute;
      left: 0;
  }


    }
</style>

<!--
  <script
    type="text/javascript"
  >

    setTimeout(function(){

      const template = document.createElement('template');
        template.innerHTML = `
    <style>
          p,label span{
            font-family:'ss' !important;
            font-size: 1.3rem !important;
            font-weight: 600 !important;
            margin-bottom: 4rem !important;
            line-height: 1.4 !important;
          }

          ._formInputFieldLabel_1ydxd_37{
            font-family:'ss' !important;
            top: -17px !important;
            left: 0px !important;
            text-align: left !important;
            font-size: 1.3rem !important;
            font-weight: 600 !important;
            margin-bottom: 4rem !important;
            line-height: 1.4 !important;
            color:white !important;
          }

          ._formSubmitButton_1nihh_77{
              background: transparent !important;
              color: white !important;
              font-family: 'ss' !important;
              font-weight: 600 !important;
              border: 2px solid white !important;
              border-radius: 2em !important;
          }

          ._formFileInputField_ehvsf_5{

                background-color: transparent !important;
                border: 0px !important;
                padding: 0px !important;
                cursor: pointer;
                justify-content: flex-start !important;
                margin-top: 0px !important;
                width: 100% !important;
          }

          ._verticalLayout_171zd_6{
          margin-bottom:15px !important
        }

          legend._textBody_2aowh_10._checkboxLegend_171zd_18{
            font-weight: 600 !important;
            font-family: 'ss' !important;
          }

          ._textBody_2aowh_10{
            text-align:left !important;
          }

          ._formFieldContainer_1ydxd_5,_checkboxFieldSet_171zd_1 {
               margin-block: 10px !important;
          }

          ._formSubmitButton_ed7ce_82{
            background: #fff !important;
            color: #000 !important;
            border-radius: 0px !important;
            font-family: 'ss' !important;
            text-transform: uppercase !important;
            font-weight: 600 !important;
            font-size: 13px !important;
            letter-spacing: 2px !important;
          }

          ._formInputField_237zm_7{
                background: transparent !important;
                border: 1px solid white !important;
                border-radius: 30px !important;
                color: white !important;
                padding: 0px !important;
                padding: 1em !important;
                text-align: left !important;
                margin-top:10px !important;
          }

          @media(max-width:900px){

          [data-testid="field-custom#how_many_years_of_experience_do_you_hold_as_a_makeup_artist"] {
                margin-top:30px !important;
              }

          }
        </style>
  `;

      const host = document.querySelector('#app-embed');
      // host.shadowRoot.append(template.content.cloneNode(true))

    },2000);
  </script>
-->

<style>
          .mokae-pro-form-wr .title.globo-heading {
        	 font-weight: 600 !important;
        	 font-size: 22px !important;
        	 font-family: "Almarai";
        	 text-transform: capitalize;
        	 letter-spacing: 0.25px;
        }
         .mokae-pro-form-wr .globo-form-app {
        	 margin-top: -44px;
        	 max-width: 468px !important;
        }
         .mokae-pro-form-wr .header .description.globo-description {
        	 display: none;
        }
         .mokae-pro-form-wr .globo-form-app .header {
        	 min-height: auto;
        }
         .mokae-pro-form-wr .globo-form-control .flat_rounded-input {
        	 background: #fff;
        	 border: 1px solid rgba(0, 0, 0, 0.25);
        	 color: #111;
        }
         .mokae-pro-form-wr .globo-form-control .globo-form-input {
        	 margin-bottom: 6px;
        }
         .mokae-pro-form-wr .globo-form-control .globo-list-control.option-1-column {
        	 margin-bottom: 6px;
        }
         .mokae-pro-form-wr .globo-formbuilder-wizard {
        	 font-family: "ss";
        }
        .mokae-pro-form-wr .gfb__footer .description, .mokae-pro-form-wr .checkbox-label.globo-option, .mokae-pro-form-wr .globo-form-app .globo-form-control label.globo-label span.label-content, .mokae-pro-form-wr .globo-form-control .flat_rounded-input, .mokae-pro-form-wr .globo-form-id-146734 .globo-form-app .globo-form-control .checkbox-wrapper .globo-option {
        	 font-size: 14px;
        	 font-weight: 600;
        	 line-height: 1.6;
        }
         .mokae-pro-form-wr .globo-form-control .gfb__dropzone {
        	 background: #f5f5f5;
        }
         .mokae-pro-form-wr .action.next.submit.flat_rounded-button.wizard__submit {
        	 border-radius: 0;
        }


      .mokae-pro-form-wr .gfb__footer .description {
          font-size: 12px;
          margin-bottom: 14px;
      }

      .mokae-pro-form-wr .globo-form-control .checkbox-wrapper .checkbox-input:checked~.checkbox-label:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='black' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
      }

      .mokae-pro-form-wr .message.success .content {
    	 display: none;
    }
     .mokae-pro-form-wr .message.success .gfb__content-title {
    	 margin-bottom: 0;
    	 color: #111;
    }
     .mokae-pro-form-wr .message.success {
    	 margin-bottom: 14px;
    }

    .mokae-pro-form-wr .message.success .gfb__content-title {
      font-size: 14px;
  }

  .mokae-pro-form-wr .message.success {
      background: transparent;
  }
</style>

{% schema %}
{
  "name": "Mokae Pro Invite",
  "settings": [],
  "presets": [
    {
     "name": "Mokae Pro Invite"
    }
  ]
}
{% endschema %}
