<div id="legal-page">
    <div class="legel-page-wrap">
        <div class="legl-page-header">
            <h1>{{  page.title  }}</h1>
        </div>
        <div class="legal-page-content">
            {{ page.content }} 
        </div>
    </div>
</div>