<div>
  <section class="loyalty-program">
    <div class="content">
      <h1>
        MOKAE LOYALTY <br>
        PROGRAM
      </h1>
      <p class="description">
        Simple. Seamless. Just for you. Earn points with every purchase, unlock exclusive rewards and elevated
        experiences—because thoughtful beauty should come with thoughtful rewards.
      </p>
      <p class="welcome-message">Join now and get 1,000 welcome points.</p>
      <a href="#smile-home" class="signup-btn">SIGN UP</a>
    </div>
    <div class="sec-bg">
      <img class="d-img" src="https://cdn.shopify.com/s/files/1/0707/6472/4465/files/banner-bg.png?v=1758105023">
      <img class="m-img" src="https://cdn.shopify.com/s/files/1/0707/6472/4465/files/m-banner-bg.png?v=1759137073">
    </div>
  </section>
  <section class="htg-started">
    <div class="how-to">
      <h2>How To Get Started</h2>
      <div class="steps-container">
        <div class="step-line">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <div class="step-line-mobile">
          <svg width="10" height="146" viewBox="0 0 10 146" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 5L4.99999 146" stroke="white"/>
            <circle cx="5" cy="5" r="5" transform="rotate(90 5 5)" fill="white"/>
            <circle cx="5" cy="73" r="5" transform="rotate(90 5 73)" fill="white"/>
            <circle cx="5" cy="141" r="5" transform="rotate(90 5 141)" fill="white"/>
          </svg>
        </div>

        <div class="steps">
          <div class="step">
            <div class="step-title">STEP 1</div>
            <div class="step-desc">Create an account</div>
          </div>
          <div class="step">
            <div class="step-title">STEP 2</div>
            <div class="step-desc">Shop Mokae</div>
          </div>
          <div class="step">
            <div class="step-title">STEP 3</div>
            <div class="step-desc">Get Rewarded</div>
          </div>
        </div>
      </div>
      <div class="htg-media">
        <img class="d-img" src="https://cdn.shopify.com/s/files/1/0707/6472/4465/files/imgly.png?v=1758114160">
        <img class="m-img" src="https://cdn.shopify.com/s/files/1/0707/6472/4465/files/htg-m-img.png?v=1759148635">
      </div>
    </div>
  </section>
  <section class="earn-points">
    <h2>How To Earn Points</h2>
    <div class="points-grid">
      <div class="point-item">
        <p class="title">PLACE AN ORDER</p>
        <p class="details">
          Earn 1 point<br>
          per ₹1 spent
        </p>
      </div>
      <div class="divider">
        <svg width="1" height="116" viewBox="0 0 1 116" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="0.5" y1="2.18557e-08" x2="0.499995" y2="116" stroke="white"/>
        </svg>
      </div>
      <div class="point-item">
        <p class="title">CREATE AN ACCOUNT</p>
        <p class="details">
          Earn 1000<br>
          points
        </p>
      </div>
      <div class="divider">
        <svg width="1" height="116" viewBox="0 0 1 116" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="0.5" y1="2.18557e-08" x2="0.499995" y2="116" stroke="white"/>
        </svg>
      </div>
      <div class="point-item">
        <p class="title">WRITE A REVIEW</p>
        <p class="details">
          Earn 5000<br>
          points
        </p>
      </div>
      <div class="divider m-divider">
        <svg width="1" height="116" viewBox="0 0 1 116" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="0.5" y1="2.18557e-08" x2="0.499995" y2="116" stroke="white"/>
        </svg>
      </div>
      <div class="point-item">
        <p class="title">SHARE YOUR BIRTHDAY</p>
        <p class="details">
          Earn 500<br>
          points
        </p>
      </div>
      <div class="divider">
        <svg width="1" height="116" viewBox="0 0 1 116" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="0.5" y1="2.18557e-08" x2="0.499995" y2="116" stroke="white"/>
        </svg>
      </div>

      <div class="point-item">
        <p class="title">BIRTHDAY MONTH</p>
        <p class="details">
          Earn 500<br>
          points
        </p>
      </div>
    </div>
  </section>
  <section class="redeem-points">
    <h2>How To Redeem Points</h2>
    <p class="conversion-rate">50 points = ₹1</p>
    <div class="redeem-flow">
      <div class="step-line">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      <div class="step-line-mobile">
        <svg width="10" height="146" viewBox="0 0 10 146" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 5L4.99999 146" stroke="white"/>
          <circle cx="5" cy="5" r="5" transform="rotate(90 5 5)" fill="white"/>
          <circle cx="5" cy="73" r="5" transform="rotate(90 5 73)" fill="white"/>
          <circle cx="5" cy="141" r="5" transform="rotate(90 5 141)" fill="white"/>
        </svg>
      </div>
      <div class="redeem-step">
        <p>
          Earned per order:<br>
          1,500 points
        </p>
      </div>
      <div class="arrow">
        <svg width="115" height="16" viewBox="0 0 115 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M114.707 8.70711C115.098 8.31658 115.098 7.68342 114.707 7.29289L108.343 0.928932C107.953 0.538408 107.319 0.538408 106.929 0.928932C106.538 1.31946 106.538 1.95262 106.929 2.34315L112.586 8L106.929 13.6569C106.538 14.0474 106.538 14.6805 106.929 15.0711C107.319 15.4616 107.953 15.4616 108.343 15.0711L114.707 8.70711ZM0 8V9H114V8V7H0V8Z" fill="white"/>
        </svg>
      </div>
      <div class="redeem-step">
        <p>
          Customer gets ₹30<br>
          worth of redemption
        </p>
      </div>
      <div class="arrow">
        <svg width="115" height="16" viewBox="0 0 115 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M114.707 8.70711C115.098 8.31658 115.098 7.68342 114.707 7.29289L108.343 0.928932C107.953 0.538408 107.319 0.538408 106.929 0.928932C106.538 1.31946 106.538 1.95262 106.929 2.34315L112.586 8L106.929 13.6569C106.538 14.0474 106.538 14.6805 106.929 15.0711C107.319 15.4616 107.953 15.4616 108.343 15.0711L114.707 8.70711ZM0 8V9H114V8V7H0V8Z" fill="white"/>
        </svg>
      </div>
      <div class="redeem-step">
        <p>
          Effective<br>
          cashback: 2%
        </p>
      </div>
    </div>
  </section>
  <section class="tiers-section">
    <h2>Tiers</h2>
    <table class="tiers-table">
      <thead>
        <tr>
          <th>PERKS</th>
          <th>BEGINNER</th>
          <th>ADVANCED</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Perks">Member-only sales</td>
          <td data-label="Beginner"></td>
          <td data-label="Advanced">✓</td>
        </tr>
        <tr>
          <td data-label="Perks">Early access to new launches</td>
          <td data-label="Beginner">✓</td>
          <td data-label="Advanced">✓</td>
        </tr>
        <tr>
          <td data-label="Perks">Early access to sales</td>
          <td data-label="Beginner">✓</td>
          <td data-label="Advanced">✓</td>
        </tr>
        <tr>
          <td data-label="Perks">Purchase points on new arrivals</td>
          <td data-label="Beginner"></td>
          <td data-label="Advanced">1.5 ×</td>
        </tr>
        <tr>
          <td data-label="Perks">Birthday month points (500)</td>
          <td data-label="Beginner"></td>
          <td data-label="Advanced">✓</td>
        </tr>
        <tr>
          <td data-label="Perks">Birthday gift</td>
          <td data-label="Beginner"></td>
          <td data-label="Advanced">✓</td>
        </tr>
        <tr>
          <td data-label="Perks">Access to exclusive events</td>
          <td data-label="Beginner"></td>
          <td data-label="Advanced">✓</td>
        </tr>
        <tr>
          <td data-label="Perks">Points redeemable against purchase</td>
          <td data-label="Beginner">✓</td>
          <td data-label="Advanced">✓</td>
        </tr>
        <tr>
          <td data-label="Perks">Earn Points with our Referral Program</td>
          <td data-label="Beginner">✓</td>
          <td data-label="Advanced">✓</td>
        </tr>
      </tbody>
    </table>
    <div class="perks-container">
      <div class="perks-box">
        <h2>PERKS FOR BEGINNERS</h2>
        <ul>
          <li>Early access to new launches</li>
          <li>Early access to sales</li>
          <li>Points redeemable against purchase</li>
          <li>Earn Points with our Referral Program</li>
        </ul>
      </div>

      <div class="perks-box">
        <h2>PERKS FOR ADVANCED MEMBERS</h2>
        <ul>
          <li>Member-only sales</li>
          <li>Early access to new launches</li>
          <li>Early access to sales</li>
          <li>Purchase points on new arrivals: 1.5x</li>
          <li>Birthday month points (500)</li>
          <li>Birthday gift</li>
          <li>Access to exclusive events</li>
          <li>Points redeemable against purchase</li>
          <li>Earn Points with our Referral Program</li>
        </ul>
      </div>
    </div>
  </section>
</div>
