<div id="ga-page-affiliate">
    <div class="ga-af-wrap">
        <div class="ga-af-media">
            <img src="https://cdn.shopify.com/s/files/1/0707/6472/4465/files/Background-pichi.jpg?v=1728021630" alt="">
        </div>
        <div class="ga-af-desc">
            <div class="ga-af-d-inner">
                <h1>Let's Get<br> Affiliated</h1>
                <p>
                    We would love to partner with individuals who share our values and are looking to grow the overall clean beauty category.
                </p>

                <h3>Our affiliate program offers</h3>
                <ul>
                    <li>Earn 10% commission rate for each sale (excluding gift cards)</li>
                    <li>30 day cookie window to each link </li>
                    <li>Bonuses for high performing affiliates </li>
                    <li> Exclusive offers for your readers and followers </li>
                    <li>Free samples & product for select partners </li>
                </ul>
                <h3>How to Sign Up</h3>
                <ol>
                    <li>
                        Sign up via the affiliate program link below</li>
                    <li>Create content on a specific product and spread the news by direct linking to any page at mokaebeauty.com</li>
                    <li>Get paid on your commission</li>
                </ol>
                <div class="ga-apply-box">
                    <a href="">Apply Here</a>
                </div>
            </div>
        </div>
    </div>
</div>